/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 24. 05. 2017
 Finish Date: 26. 05. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}



/* FONTS */
a{
    color: #000;
}
a:hover{
    text-decoration: none;
}
a:hover, a:focus{
    outline: none;
    text-decoration: none;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    border: none;
    box-shadow: none;
    outline: none;
}


body {
    font-family: 'Calibri', sans-serif;
    background: #eeeeee;
    color: #000;
}
.content{
    margin-bottom: 30px;
}

#offcanvas1{
    width: 337px;
    height: 100vh !important;
    background-color: #34495e;
}
#offcanvas1 ul{
    list-style-type: none;
    padding: 39px 0;
    text-align: left;
}
#offcanvas1 img{
    display: block;
    margin: 20px auto 0 auto;
}
#offcanvas1 ul li a{
    text-transform: uppercase;
}
#offcanvas1 ul li a,
#offcanvas1 ul ul li a{
    display: block;
    padding: 5px 0 5px 50px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.67;
    color: #eeeeee;
}
#offcanvas1 ul li a:hover,
#offcanvas1 ul ul li a:hover{
    color: #3c8bbd;
}
#offcanvas1 ul li a.active{
    background-color: #2a3b4d;
}
#offcanvas1 ul ul{
    padding: 20px 0px 20px 30px;
    background-color: #2a3b4d;
    text-align: left;
    display: none;
}
#offcanvas1 ul li a i{
    margin-right: 10px;
}
.offcanvas-outer{
    overflow-x: visible !important;
}
.offcanvas-element{
    overflow: visible !important;
}
a.js-toggle-offcanvas{
    position: absolute;
    right: -18px;
    top: 16px;
    font-size: 25px;
    border: 0;
    width: 43px;
    height: 43px;
    padding: 0;
    border-radius: 100px;
    background-color: #3c8bbd;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
a.js-toggle-offcanvas #nav-icon1{
    height: 43px;
    width: 43px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
a.js-toggle-offcanvas:hover{
    background: #fff;
}
a.js-toggle-offcanvas:hover #nav-icon1 span{
    background: #3c8bbd;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
a.js-toggle-offcanvas #nav-icon1 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 23px;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

a.js-toggle-offcanvas #nav-icon1 span:nth-child(1) {
    top: 14px;
}

a.js-toggle-offcanvas #nav-icon1 span:nth-child(2) {
    top: 22px;
}

a.js-toggle-offcanvas #nav-icon1 span:nth-child(3) {
    top: 30px;
}

a.js-toggle-offcanvas #nav-icon1.open span:nth-child(1) {
    top: 21px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
a.js-toggle-offcanvas #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

a.js-toggle-offcanvas #nav-icon1.open span:nth-child(3) {
    top: 21px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


.header,
.footer{
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.13);
    border: solid 1px rgba(52, 73, 94, 0.22);
    padding: 20px 50px 20px 50px;
}
.header .name-page,
.footer .name-page{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.67;
    letter-spacing: 1.1px;
    color: #34495e;
}
.profile-box .notification{
    padding: 8px 0;
    margin-right: 51px;
    position: relative;
}
.profile-box .notification span.number-notification{
    position: absolute;
    top: -7px;
    right: -9px;
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
    width: 19px;
    height: 19px;
    background-color: #34495e;
    border: solid 1px #ffffff;
    border-radius: 100px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.profile-box .notification:hover svg{
    fill: #3c8bbd;
}
.profile-box .notification:hover span.number-notification{
    background: #3c8bbd;
}
.profile-box .notification svg{
    width: 26px;
    height: 22px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.profile-box .img-profile{
    width: 43px;
    height: 43px;
    border-radius: 100px;
    position: relative;
    margin-right: 17px;
}
.profile-box .img-profile img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.profile-box .setting{
    margin: 4px 0;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #34495e;
}
.profile-box .setting .btn-default{
    border: none;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #34495e;
}


.title{
    background-color: #34495e;
    font-weight: bold;
    letter-spacing: 1.1px;
    color: #ffffff;
    padding: 18px 0 18px 18px;
}


.action-block{
    background: #fff;
}
.action-box{
    border-bottom: 2px solid #eeeeee;
    padding: 16px 14px;
    cursor: pointer;
}
.action-box .title-box{
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #34495e;
}
.action-box .date{
    font-size: 12px;
    line-height: normal;
    color: #949494;
}
.arrow-down{
    width: 100%;
    height: 28px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #3c8bbd;
    padding: 5px 0;
    color: #3c8bbd;
}
.action-box .action-box-dropdown{
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0 10px 0;
    display: none;
    cursor: auto;
}
.list-view{
    margin-top: 30px;
}
.list-view-header{
    background-color: #34495e;
    padding: 15px 20px;
}
.list-view-header .title{
    background: transparent;
    padding: 10px 0;
}
.nav-view-header a{
    padding: 11px 0;
    display: inline-block;
    text-align: center;
    width: 123px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 1px;
    background-color: #3c8bbd;
    margin: 0 6px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.list-view-item{
    background: #fff;
    padding: 10px 20px;
    line-height: 2;
    border-top: 2px solid #eeeeee;
    color: #34495e;
}

.title.light{
    font-weight: 300;
    padding: 3px 0;
    background: transparent;
    color: inherit;
}
.another-text{
    padding: 3px 0;
}
.text-uppercase:before{
    content: "●";
}
span.text-bold{
    font-weight: 900;
    color: #34495e;
}
.nav-view-header a:hover{
    background: rgba(57, 166, 209, .5);

}

.tooltip-group{
    margin-left: 70px;
}
button.blue-bg{
    width: 33px;
    height: 33px;
    border-radius: 1px;
    background-color: #3c8bbd;
    display: inline-block;
    padding: 0 0 0 6px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    border: none;
    margin-left: 8px;
}
button.blue-bg:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
button.blue-bg svg{
    width: 20px;
    height: 20px;
    display: block;
    fill: #fff;
}
.arrow-down.blue-bg{
    color: #fff;
    padding: 3px 0;
    width: 33px;
    height: 33px;
    border-radius: 1px;
    background-color: #3c8bbd;
    display: block;
    border: none;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
button:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
button.blue-bg:hover,
.arrow-down.blue-bg:hover{
    background: rgba(57, 166, 209, .5);
}

.list-view-dropdown{
    padding: 20px;
    background-color: #f5f6f7;
    display: none;

}
.small-title{
    font-size: 15px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 10px;
}
.info{
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
    font-size: 15px;
}
.info .name,
.info .number,
.info .invoices,
.info .date{
    font-weight: 900;
}
.info span.status:after,
.info span.name:after,
.info span.invoices:after{
    content: "●";
}
.info .status{
    color: #46c529;
    font-weight: 900;
}
.button-close{
    width: 33px;
    height: 33px;
    border-radius: 1px;
    background-color: #ee3232;
    padding: 9px 0;
    border: none;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.button-close:hover{
    background: rgba(238, 50, 50, .5);
}
.button-close.info:hover{
    background: rgba(57, 166, 209, .5);
}
.button-close.info{
    background: #3c8bbd;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    margin-left: 10px;
}
.button-close svg{
    width: 17px;
    height: 17px;
    fill: #fff;
}
.list-services .name{
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
}
.list-services-item{
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.row.no-padding > .col-md-2{
    padding-left: 0;
}
.row.no-padding > .col-md-1 {
    padding-right: 0;
}



/* HOTELURI PAGE */
.search-hotel{
    padding: 20px;
    background: #fff;
}
.search-hotel label{
    width: 100%;
    margin-bottom: 21px;
}
input:focus{
    box-shadow: none;
    border: none;
    outline: none;
}
.search-hotel input{
    width: 100%;
    background-color: #eeeeee;
    border: none;
    border-bottom: 2px solid #3c8bbd;
    padding: 20px 0 20px 20px;
    font-size: 15px;
    font-weight: 300;
    color: #34495e;
    border-radius: 0;
}
.search-hotel input::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 300;
    color: #34495e;
}
.search-hotel input::-moz-placeholder          {
    font-size: 15px;
    font-weight: 300;
    color: #34495e;
}/* Firefox 19+ */
.search-hotel input:-moz-placeholder           {
    font-size: 15px;
    font-weight: 300;
    color: #34495e;
}/* Firefox 18- */
.search-hotel input:-ms-input-placeholder      {
    font-size: 15px;
    font-weight: 300;
    color: #34495e;
}
.search-hotel .jq-selectbox{
    border-bottom: 2px solid #3c8bbd !important;
    background: #eeeeee;
    display: block !important;
    z-index: 1 !important;
}

.search-hotel .jq-selectbox__select{
    border: none;
    padding-top: 15px;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    background: none;
    height: 60px;
    font-size: 15px;
    font-family: "Calibri" , sans-serif;
    font-weight: 300;
    color: #34495e;
}
.search-hotel .jq-selectbox__trigger{
    border: none;
}
.search-hotel .jq-selectbox__trigger-arrow{
    top: 14px;
    border: none;
}
.search-hotel .jq-selectbox__trigger-arrow:before{
    content: url("../images/arrow-down.png");
    position: relative;
    left: -6px;
}
.submit-btn,
.reset-btn{
    display: inline-block;
    border: none;
    border-radius: 0;
    padding: 15px 0;
    text-align: center;
    width: 152.3px;
    background-color: #3c8bbd;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.submit-btn:hover{
    background: rgba(57 , 166, 209, .4) !important;
}
.reset-btn:hover,
.reset-btn.small:hover{
    background: rgba(238, 50, 50 , .4) !important;
}
.reset-btn,
.reset-btn.small{
    background-color: #ee3232 !important;
}
.providers{
    padding: 30px 18px;
    background: #fff;
}
.checkbox-group label{
    display: inline-block;
    width: auto;
    font-size: 14px;
    font-weight: 300;
    color: #34495e;
}




.submit-btn.small,
.reset-btn.small{
    display: inline-block;
    border: none;
    border-radius: 0;
    padding: 15px 0;
    text-align: center;
    width: 130px;
    background-color: #3c8bbd;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.btn{
    border-radius: 0;
    border: 0;
}
.btn-primary{
    background-color: #3c8bbd;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    padding: 13px 16px;
}
.btn-primary:hover{
    background: rgba(60, 139, 189, .4);
}
.btn:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.checkbox-group label input{
    width: auto;
    margin-right: 2px;
}
.search-header{
    padding: 20px;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    color: #34495e;
}
.name-hotel{
    font-size: 15px;
    font-weight: 900;
}
.adress-hotel{
    font-size: 12px;
}
.price-box .price{
    font-size: 20px;
    font-weight: bold;
}
.search-main{
    border-top: 2px solid #eeeeee;
}
.results-dropdown-item{
    background: #f5f6f7;
    border-bottom: 2px solid #eeeeee;
    padding: 20px;
    display: none;
}
.search-header.active{
    background: #34495e;
    color: #fff !important;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.drop-down-results.active span.fa{
    transform: rotate(180deg);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.list-view-item.active{
    background: #34495e;
    color: #fff !important;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.dropdown-list-block.active i.fa{
    transform: rotate(180deg);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


.jq-checkbox.focused{
    border: none !important;
}
.jq-checkbox{
    top: 0;
    box-shadow: none;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background: #3c8bbd;
}
.jq-checkbox.checked .jq-checkbox__div{
    box-shadow: none;
    border-radius: 0;
    background: url("../images/checked.png") 0 0 no-repeat;
}





@media(max-width: 1340px){
    .col-md-3.costum-width{
        width: 50% !important;
    }
    .col-md-6.costum-width{
        width: 100%;
    }
    .search-header .col-md-3.costum-width{
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }
    .search-header .col-md-2.costum-width{
        width: 50%;
        text-align: center;
    }
    .search-header .col-md-4.costum-width{
        width: 50%;
        text-align: center;
    }

}
@media (max-width: 1325px){
    .submit-btn.small, .reset-btn.small{
        display: block;
        width: 100%;
        margin: 5px 0;
    }
    .checkbox-group .col-md-6.costum-width{
        width: 100%;
    }
    .checkbox-group label{
        width: 100%;
    }
}
@media(max-width: 1250px){
    .tooltip-group{
        margin-left: 20px;
    }
    .nav-view-header a{
        width: auto;
        padding-left: 10px;
        padding-right:  10px;
        margin: 0;
    }
}
@media(max-width: 1120px){
    .tooltip-group{
        margin-left: 5px;
    }
    button.blue-bg{
        margin: 0;
    }
}
@media (max-width: 1050px){
}
@media (max-width: 992px){
    .col-md-6 .col-md-3.costum-width{
        width: 100% !important;
    }
    .col-md-3.display-none{
        display: none !important;
    }
    .results-dropdown-item .button-control{
        padding-left: 5px;
    }

}
@media (max-width: 768px){
    .search-header .col-md-3.costum-width{
        width: 100% !important;
        text-align: center;
    }
    .search-header .col-md-2.costum-width{
        width: 100%;
    }
    .search-header .col-md-4.costum-width{
        width: 100%;
    }
    .results-dropdown-item .col-md-3{
        text-align: center;
    }
    .results-dropdown-item .col-md-2{
        text-align: center;
    }
    .results-dropdown-item .col-md-4{
        text-align: center;
        margin-top: 15px;
    }
}
@media (max-width: 600px){
    .name-page{
        float: none !important;
        text-align: center !important;
    }
    .profile-box{
        float: none !important;
    }
    .notification {
        display: inline-block;
        float: none !important;
        margin: 0 95px 0 0 !important;
    }
    .img-profile{
        display: inline-block;
        float:  none !important;
        margin: 0  !important;
    }
    .setting{
        display: block;
        float: none !important;
        margin: 30px 0 0 0 !important;
        position: relative;
        top: -17px;
    }
    .profile-box{
        text-align: center;
        padding-top: 20px;
    }
    .search-hotel .submit-btn, .reset-btn{
        width: 100%;
        margin: 5px 0;
    }
}
@media(max-width: 460px){
    .nav-view-header a{
        display: block;
        margin: 10px 0;
    }
    .button-control{
        float: none !important;
        text-align: center;
        margin-top: 10px;
    }
}

/* custom */
.breadcrumb {
    margin-bottom: 0px;
}

.kv-tree li {
    line-height: 18px;
}

/* grid view css */
table.kv-grid-table thead {
    background-color: #34495e;
}

table.kv-grid-table thead th, 
table.kv-grid-table thead th a {
    color: #fff !important;
}

table.kv-grid-table thead th {
    text-transform: uppercase;
    padding: 6px 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.grid-view .summary {
    font-size: 18px;
}

.modal-lg {
    width: 1100px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #000;
}

.star-input{
    width: 50px!important;
}
