/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 20. 07. 2017
 Finish Date: 30. 07. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.pt5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}

/* COSTUME PADDING CLASES */

.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt35{padding-top:35px!important}
.pt40{padding-top:40px!important}
.pt45{padding-top:45px!important}
.pt50{padding-top:50px!important}
.pt55{padding-top:55px!important}
.pt60{padding-top:60px!important}
.pt65{padding-top:65px!important}
.pt70{padding-top:70px!important}
.pt75{padding-top:75px!important}
.pt80{padding-top:80px!important}
.pt85{padding-top:85px!important}
.pt90{padding-top:90px!important}

.pb5{padding-bottom:10px!important}
.pb10{padding-bottom:5px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb35{padding-bottom:35px!important}
.pb40{padding-bottom:40px!important}
.pb45{padding-bottom:45px!important}
.pb50{padding-bottom:50px!important}
.pb55{padding-bottom:55px!important}
.pb60{padding-bottom:60px!important}
.pb65{padding-bottom:65px!important}
.pb70{padding-bottom:70px!important}
.pb75{padding-bottom:75px!important}
.pb80{padding-bottom:80px!important}
.pb85{padding-bottom:85px!important}
.pb90{padding-bottom:90px!important}



/* FONTS */
/* This stylesheet generated by Transfonter (https://transfonter.org) on August 11, 2017 9:52 AM */

@font-face {
    font-family: 'SF UI Display Medium';
    src: url('../fonts/SFUI-Display/SFUIDisplay-Medium.eot');
    src: url('../fonts/SFUI-Display/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SFUI-Display/SFUIDisplay-Medium.woff') format('woff'),
    url('../fonts/SFUI-Display/SFUIDisplay-Medium.ttf') format('truetype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Heavy';
    src: url('../fonts/SFUI-Display/SFUIDisplay-Heavy.eot');
    src: url('../fonts/SFUI-Display/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Heavy.woff2') format('woff2'),
    url('../fonts/SFUI-Display/SFUIDisplay-Heavy.woff') format('woff'),
    url('../fonts/SFUI-Display/SFUIDisplay-Heavy.ttf') format('truetype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Thin';
    src: url('../fonts/SFUI-Display/SFUIDisplay-Thin.eot');
    src: url('../fonts/SFUI-Display/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Thin.woff2') format('woff2'),
    url('../fonts/SFUI-Display/SFUIDisplay-Thin.woff') format('woff'),
    url('../fonts/SFUI-Display/SFUIDisplay-Thin.ttf') format('truetype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Regular';
    src: url('../fonts/SFUI-Display/SFUIDisplay-Regular.eot');
    src: url('../fonts/SFUI-Display/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFUI-Display/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/SFUI-Display/SFUIDisplay-Regular.ttf') format('truetype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display Light';
    src: url('../fonts/SFUI-Display/SFUIDisplay-Light.eot');
    src: url('../fonts/SFUI-Display/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Light.woff2') format('woff2'),
    url('../fonts/SFUI-Display/SFUIDisplay-Light.woff') format('woff'),
    url('../fonts/SFUI-Display/SFUIDisplay-Light.ttf') format('truetype'),
    url('../fonts/SFUI-Display/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}





body{
    overflow-x: hidden;
    font-family: "SF UI Display Regular" , "Open Sans" , sans-serif;
    font-weight: 300;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
a:focus{
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0;
    box-shadow: none;
    outline-offset: 0;
}
section{
    padding: 0;
    overflow: hidden;
}

header {
}
.logo{
    padding: 5px 0;
    max-width: 120px;
}
.top-nav nav > ul {
    padding: 20px 0;
    margin: 0;
}
.top-nav nav > ul > li{
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    position: relative;
}
.top-nav nav > ul > li > a {
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    color: #000000;
}
.top-nav nav > ul > li > a span{
    position: relative;
    left: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.top-nav nav > ul > li > a.active span{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.top-nav nav > ul > li > a:hover {
    color: #FF0000;
}
.toggle-submenu{
    margin: 0;
    position: absolute;
    top: 33px;
    background: #fff;
    z-index: 3;
    width: 280px;
    max-width: 280px;
    left: 0%;
    display: none;
}
.toggle-submenu > li{
    display: block;
}
.toggle-submenu > li > a{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    color: #006ab2;
    display: block;
    padding: 10px 0 10px 20px;
    text-align: left;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.toggle-submenu > li > a:hover{
    background-color: #006ab1;
    color: #fff;
}
.reservations{
    border: solid 2px #ff3a48;
    display: block;
    text-align: center;
    padding: 17px;
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.4px;
    color: #ff3a48;
    margin-top: 35px;
}
.contacts-panel{
    background: #FFF;
    padding: 10px 0;
}
.socio-contacts a{
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.socio-contacts > ul > li{
    margin: 0 3px;
}
.socio-contacts > ul > li > a:hover path{
    fill: #006ab2 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.socio-contacts a svg{
    display: block;
    height: 13px;
    width: auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.socio-contacts ul{
    padding: 0;
    margin: 0;
}
.socio-contacts ul > li{
    display: inline-block;
}
.contacts-panel .phone{
    margin-right: 20px;
}
.contacts-panel a{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: #777;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.contacts-panel a:hover{
    color: #006ab2;
}
.presentation-slider .swiper-slide img{
    width: 100%;
    display: block;
    background-attachment: fixed;
}
.presentation-slider-pagination{
    position: absolute;
    top: 20px;
    height: 20px;
}
.presentation-slider .swiper-pagination-bullet-active{
    background: #4b9532;
}
.presentation-slider .swiper-button-prev:hover,
.presentation-slider .swiper-button-next:hover{
    cursor: pointer;
}
.presentation-slider .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.title-slide{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 50px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 25%;
    right: 21%;
}
.title-slide .text{
    position: relative;
    padding: 0 70px;
}
.title-slide .text span{
    position: relative;
    z-index: 2;
}
.border-fondal{
    opacity: 0.5;
    background-color: #006ab1;
    height: 34px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}
.calendar-elem{
    position: relative;
}
.calendar-elem label{
    display: block;
    width: 100%;
}
.calendar-elem input{
    background-image: url("../images/calendar.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
}
.content-filter label{
    display: block;
    width: 100%;
}
.content-filter input{
    display: block;
    width: 100%;
}
.content-filter label{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.73;
    color: #616161;
}
.filter {
    position: relative;
    z-index: 90;
    margin-top: -140px;
    margin-bottom: -30px;
    z-index: 9;
}
.content-filter{
    padding: 15px 20px;
    background: rgba(255, 255, 255, .8);
}
.filter-tab .nav-tabs li:first-child a{
    box-shadow: none;
}
.filter-tab .nav-tabs{
    border: none;
    border-radius: 0;
}
.filter-tab .nav-tabs li a{
    background-color: #006ab2;
    box-shadow: -2px 0 0 0 rgba(0, 93, 156, 0.35);
    border: none;
    margin: 0;
    border-radius: 0;
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.73;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.filter-tab .nav-tabs li a:hover{
    background: #fff;
    color: #0067b0;
    border: none;
}
.filter-tab .nav-tabs>li.active>a,
.filter-tab .nav-tabs>li.active>a:focus,
.filter-tab .nav-tabs>li.active>a:hover{
    background: #fff;
    border-radius: 0;
    border: none;
    color: #0067b0;
}
.filter-tab .nav-tabs li a span{
    margin-right: 10px;
}
.filter-tab input:-ms-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85;
    color: #616161;
}
.filter-tab input:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85;
    color: #616161;
}
.filter-tab input::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85;
    color: #616161;
}
.filter-tab input::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85;
    color: #616161;
}
.filter-tab input{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85;
    color: #616161;
    padding: 5px 15px;
    border: solid 1px #dbdbdb;
}
.filter-tab label {
    margin-bottom: 10px;
    font-size: 13px;
}
.calendar-elem input{
    padding: 5px 15px;
    border-radius: 0;
}
.select2-container{
    width: 100% !important;
    max-width: 100%;
}
.select2-container--default .select2-selection--single{
    border-radius: 0;
    height: 35px !important;
    border: solid 1px #dbdbdb;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding: 5px 15px !important;
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #616161;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 6px;
}
.filter-tab button{
    border: solid 2px #006ab2;
    background: transparent;
    display: block;
    width: 100%;
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #006ab2;
    border-radius: 0;
    padding: 4px 15px;
    margin-top: 34px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.filter-tab button:hover{
    color: #fff;
    background: #ff3a48;
    border-color: #ff3a48;
}
.top-destination{
    padding: 37px 0 0px 0;
}
.destination-box{
    margin-bottom: 30px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 49px 0 rgba(38, 38, 38, 0.07);
    border: solid 2px #ffffff;
    height: 250px;
}
.destination-box img{
    display: block;
    width: 100%;
    max-height: 250px;
}
.destination-box{
    position: relative;
    background: #000;
}
.destination-box .title{
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 25px;
    color: #ffffff;
    padding-right: 25px;
}
.destination-box .title img{
    width: 45px;
    height: 31px;
    display: inline-block;
    position: relative;
    left: 15px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.destination-box:hover .title img{
    left: 20%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.destination-box .img-destination img{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.destination-box:hover .img-destination img{
    opacity: .4;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.title{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 25px;
    text-align: left;
    color: #777;
    padding-bottom: 5px;
}
.recent-news-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.description-news-box{
    position: relative;
}
.date-post{
    position: relative;
    left: 10px;
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #006ab1;
}
.recent-news-box .title-box{
    position: relative;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 16px;
    color: #444;
    top: 10px;
    width: 370px;
    left: -40%;
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.recent-news-box .img-box{
    background: rgba(0 ,0 , 0 , 1) !important;
}
.recent-news-box .img-box img{
    min-height: 225px;
    width: 100%;
}
.recent-news-box .black-bg{
    background: #000;
}
.recent-news-box .img-box{
    opacity: 1;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.recent-news-box .description{
    margin-top: 30px;
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 15px;
    color: #646464;
}
.recent-news-box .description-news-box{
    background: #fff;
}
.recent-news-box:hover .title-box{
    left: -112%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ffba3a;
    color: #fff;
}
.recent-news-box:hover .img-box{
    opacity: .4;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.subscribe-form button{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 15px;
    color: #777;
    border: solid 2px #fcbc3e;
    background: transparent;
    padding: 6px 30px 5.6px 30px;
    border-radius: 0;
    position: relative;
    top: -1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.subscribe-form button:hover{
    color: #fff;
    background: #fcbc3e;
    border: 2px solid #fcbc3e;
}
.subscribe-form input{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
    padding: 8px 90px 8px 12px;
    margin-right: 30px;
    border: 2px solid #fcbc3e;
}
.subscribe-form input:-ms-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    line-height: 1.85;
}
.subscribe-form input:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    line-height: 1.85;
}
.subscribe-form input::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    line-height: 1.85;
}
.subscribe-form input::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    line-height: 1.85;
}
.subscribe{
    background-color: #f5f5f5;
    padding: 10px 0 9px 0;
    margin-top: 10px;
}
.subscribe form {
    vertical-align: top;
    display: table;
}
.subscribe .title{
    margin: 0;
    padding: 0;
    text-align: right;
    padding-top: 4px;
    color: #fcbc3e;
    font-size: 20px;
}
.our-skills{
    padding: 30px 0;
}
#skills1,
#skills2,
#skills3,
#skills4{
    width: 100%;
    padding: 0px 0 40px 0;
    position: relative;
    background: #f5f5f5;
}
#skills1 .icon-skills svg{
    width: 70px !important;
    height: 100px !important;
    top: -5px;
    position: relative;
}
#skills1 .progressbar-text,
#skills2 .progressbar-text,
#skills3 .progressbar-text,
#skills4 .progressbar-text{
    top: 35% !important;
    left: 70% !important;
    font-size: 55px !important;
    color: #777 !important;
    font-family: "SF UI Display Light" , sans-serif !important;
}
.icon-skills svg{
    max-width: 60px;
    display: block;
    height: 90px;
    margin: 10px 0 0 30px;
}
.icon-skills svg path{
    fill: #fcbc3e;
}
#skills1 > svg,
#skills2 > svg,
#skills3 > svg,
#skills4 > svg{
    display: none !important;
}
.title-skills{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #39a72e;
    padding: 10px;
    border-top: 4px solid #fff !important;
    color: #fff;
}
.testimonial{
    background: url("../images/testimonail-bg.png") 0 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px 0 80px 0;
}
.testimonial-box{
    background-color: #ffffff;
    box-shadow: 0 5px 49px 0 rgba(38, 38, 38, 0.07);
    padding: 5px 10px;
    margin-bottom: 30px;
}
.write-opinion{
    background: #fdbd39;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.write-opinion:hover{
    background: #479e2b;
}
#write-review .modal-dialog{
    width: 100%;
    max-width: 70%;
    margin: 20px auto;
}
.modal-title{
    font-family: "SF UI Display Regular" , sans-serif;
    color: #444;
}
#write-review form{
    max-width: 70%;
    width: 100%;
    margin: 20px auto;
}
#write-review label{
    display: block;
    width: 100%;
}
#write-review label input{
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    padding: 12px;
}
#write-review label input:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label input::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label input:-ms-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label input::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label textarea{
    resize: none;
    width: 100%;
    display: block;
    padding: 12px;
    height: 120px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
}
#write-review label textarea:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label textarea::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label textarea:-ms-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review label textarea::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
#write-review button.submit-btn{
    border-radius: 0;
    color:  #777;
    padding: 12px 50px;
    background: #fdbd39;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: none;
}
#write-review button.submit-btn:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #479e2b;
    color: #fff;
}
.need-to-complit{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 12px;
    color: red;
    text-align: left;
}
.auth .need-to-complit{
    text-align: center;
}
.message-for-user{
    text-align: center;
    padding: 15px 0;
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    color: #777;
    display: none;
}
.testimonial-box .name-user{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 20px;
    text-align: right;
    color: #006ab1;
    font-style: italic;
}
.user-opinion{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 13px;
    color: #434343;
    vertical-align: middle;
}
.testimonial-box .company{
    text-align: right;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 12px;
    color: #5a5a5a;
    font-style: italic;
}
.testimonial .row{
    padding: 30px 0;
}
.testimonial .title{
    padding-top: 40px;
}
.seo{
    margin-top: -40px;
}
.seo p span{
    font-family: "SF UI Display Light" , sans-serif !important;
    font-size: 13px;
    text-align: justify;
    color: #646464 !important;
    padding: 30px 0;
}
.top-line-footer{
    background-color: #f5f5f5;
    padding: 51px 0;
}
footer .shor-description {
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    color: #434343;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer .info-for-user div{
    margin: 10px 0;
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 12px;
}
footer .reservations{
    margin-top: 10px;
    padding: 10px 0;
}
.footer-logo img{
    max-width: 75%;
}
.reservations{
    padding: 10px 0;
}
.footer-menu ul li a{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #434343;
}
footer .contacts a{
    font-family: "SF UI Display regular" , sans-serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #434343;
}
.copyright{
    background-color: #ffba3a;
}
.copyright,
.copyright a{
    font-family: "SF UI Display Regular" , sans-serif;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    padding: 12px 0;
}
footer .contacts a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
footer .contacts a:hover{
    color: #ff3a48;
}
.footer-menu  a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.footer-menu  a:hover{
    color: #ff3a48;
}
.reservations{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.reservations:hover{
    background: #ff3a48;
    color: #fff;
}
.copyright a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.copyright a:hover{
    color: #ff3a48;
}

.name-page{
    background-color: transparent;
    padding: 12px 0 5px 0;
}
.breadcrumb{
    text-align: right;
    background: transparent;
    padding: 10px 0;
    margin: 0;
}
.bread-crumb li a{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    text-align: right;
    color: #949494;
}
.breadcrumb li.active{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    text-align: right;
    color: #949494;
}
.recent-questions{
    background-color: #f5f5f5;
    padding: 0 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
}
.questions:last-of-type{
    border: none !important;
}
.border-questions{
    border-bottom: 1px solid #eaeaea;
}
.info-for-user{
    padding: 0px 0 30px 0;
}
.questions{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 20px;
    color: #777;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 10px 0;
}
.questions:after{
    content: "+";
    color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    border-radius: 50px;
    border: 1px solid #fff;
    text-align: center;
    background: #ffba3a;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    line-height: 1.3;
}
.active-toggle:after{
    content: "-";
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.questions:hover{
    cursor: pointer;
    color: #fe3774;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.answer{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    color: #717070;
    display: none;
}
.help-user{
    background-color: #f5f5f5;
    padding: 17px;
}
.small-title{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 20px;
    color: #006ab1;
}
.help-user .short-description{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 13px;
    text-align: justify;
    color: #717070;
    padding: 10px 0;
}
.help-user .phone{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 22px;
    letter-spacing: normal;
    color: #006ab1;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    margin-bottom: 5px;
}
.help-user .phone:hover{
    color: #ff3a48;
}
.help-user .email{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 14px;
    text-align: center;
    color: #006ab1;
    display: block;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.help-user .email:hover{
    color: #ff3a48;
}
.chat-online{
    background-color: #006ab1;
    display: block;
    width: 100%;
    padding: 12px 0;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.chat-online:hover{
    background: #ff3a48;
    color: #fff;
}
.why-us{
    background-color: #f5f5f5;
    padding: 17px;
    margin-top: 25px;
}
.why-us .icon-box span,
.why-us .icon-box svg{
    display: block;
    max-height: 27px;
    font-size: 27px;
    width: auto;
    color: #006ab1;
}
.why-us .icon-box svg path{
    fill: #006ab1;
}
.why-us .facility-box{
    margin: 15px 0;
}
.facility-box .text{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    text-align: justify;
    color: #717070;
}
.recomandations{
    padding: 30px 0;
}
.recomandation-box .info{
    padding: 15px;
    background: #f5f5f5;
}
.recomandation-box{
    margin-bottom: 30px;
}
.recomandation-box .title{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 20px;
    color: #006ab1;
    padding: 10px 0;
}
.recomandation-box .some-text{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 12px;
    color: #717070;
}
.recomandation-box .some-text.small-text{
    font-size: 10px;
    margin-top: 20px;
}
.recomandation-box .price{
    font-family: "SF UI Display Bold" , sans-serif;
    font-size: 20px;
    text-align: center;
    color: #006ab1;
}
.recomandation-box .reservations{
    margin: 15px 0 0 0;
    padding: 10px 0;
    background-color: #006ab1;
    color: #fff;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.recomandation-box .reservations:hover{
    background: #ff3a48;
}
.sortable-hotels .title{
    padding: 0;
}
.sortable-hotels .breadcrumb{
    text-align: left !important;
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 15px;
    color: #006ab1;
}
.sortable-hotels .title .strong-text{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 30px;
    color: #006ab1;
}
.sortable-hotels .title{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 30px;
    color: #006ab1;
    padding-top: 40px;
}
.sortable{
    margin-top: -80px;
    padding: 30px 0;
}
.sort-by-price-and-star label{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 15px;
    color: #616161;
}
.filter-hotel{
    padding: 20px 17px;
    background: #f5f5f5;
    margin-top: 25px;
}
.filter-hotel .small-title{
    margin-bottom: 10px;
}
.filter-hotel input[type="text"]{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
    display: block;
    width: 100%;
    padding: 12px;
    border: solid 1px #dbdbdb;
}
.filter-hotel label{
    display: block;
    width: 100%;
}
.filter-hotel input[type="text"]:-ms-input-placeholder {
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.filter-hotel input[type="text"]:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.filter-hotel input[type="text"]::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.filter-hotel input[type="text"]::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.jq-checkbox.checked .jq-checkbox__div{
    background: #fe3774;
    box-shadow: none;
    margin: 0;
    position: relative;
    left: 1px;
    top: 1px;
}
.filter-hotel label.five-star-label:after{
    content: url("../images/five-star.png");
}
.filter-hotel label.four-star-label:after{
    content: url("../images/four-star.png");
}
.filter-hotel label.three-star-label:after{
    content: url("../images/three-star.png");
}
.filter-hotel label.two-star-label:after{
    content: url("../images/two-star.png");
}
.filter-hotel label.one-star-label:after{
    content: url("../images/one-star.png");
}
.filter-hotel .jq-checkbox{
    margin-right: 20px;
    margin-top: 0;
    position: relative;
    top: -2px;
}
.filter-hotel button{
    border-radius: 0;
    background: transparent;
    color:  #006ab2;
    padding: 12px 50px;
    border: solid 2px #006ab2;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: block;
    margin: 15px auto 0 auto;
    max-width: 200px;
}
.filter-hotel button:hover{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #ff3a48;
    border-color: #ff3a48;
    color: #fff;
}
.different-font{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    color: #717070;
}
.different-title .strong-text{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 30px;
    color: #006ab1;
}
.different-title{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 30px;
    color: #006ab1;
    padding-top: 40px;
}
.big-padding-bottom{
    padding-bottom: 140px;
}
.sortable-tab .nav-tabs{
    margin: 0;
    border: 0;
    text-align: center;
    padding: 20px 0;
}
.sortable-tab .nav-tabs>li{
    float: none;
    display: inline-block;
}
.sortable-tab .nav-tabs>li>a{
    border: solid 2px #006ab2;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 15px;
    color: #006ab2;
    padding: 12px 36px;
    border-radius: 0;
    background: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: solid 2px #b0b0b0;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 15px;
    color: #b0b0b0;
}
.more-details-hotel{
    background-color: #f5f5f5;
}
.results-hotel-box .row .remove-padding-right{
    padding-right: 0;
}
.results-hotel-box .row .remove-padding-left{
    padding-left: 0;
}
.more-details-hotel{
    padding: 17px;
}
.more-details-hotel .adress{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 13px;
    color: #717070;
}
.more-details-hotel .adress span{
    color: #006ab2;
}
.more-details-hotel .some-text{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    color: #717070;
}
.more-details-hotel .star{
    margin-bottom: 15px;
}
.more-details-hotel .star img{
    display: inline-block;
}
.more-details-hotel .reservations{
    background-color: #006ab1;
    border: none;
    color: #fff;
    margin-top: 13px;
    width: 100%;
}
.more-details-hotel .price{
    font-family: "SF UI Display Bold" , sans-serif;
    font-size: 25px;
    text-align: center;
    color: #006ab1;
}
.more-details-hotel .reservations{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.more-details-hotel .reservations:hover{
    background: #ff3a48;
}
.border-left{
    border-left: 1px solid #fff;
}
.border{
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 20px;
}
.results-hotel-box{
    margin-bottom: 30px;
}
#map-1,
#map-2{
    width: 100%;
    height: 400px;
}
.about-hotel{
    padding: 30px 0;
}
.sortable-tab.tab-left .nav-tabs{
    text-align: left;
}
.sortable-tab.tab-left .nav-tabs li{
    display: block;
    float: left;
}
.sortable-tab.tab-left .nav-tabs li a{
    margin: 0;
    border: none;
    background-color: #006ab2;
    box-shadow: -1px 0 0 0 rgba(0, 93, 156, 0.35);
    color: #fff;
}
.sortable-tab.tab-left .nav-tabs>li.active>a,
.sortable-tab.tab-left .nav-tabs>li.active>a:focus,
.sortable-tab.tab-left .nav-tabs>li.active>a:hover{
    background-color: #f5f5f5;
    border: none;
    color: #0067b0;
    box-shadow: none;
}
.sortable-tab.tab-left{
    background: #f5f5f5;
    padding: 17px;
}
.hotel-view .swiper-slide img{
    height: 200px;
}
.hotel-view{
    max-width: 700px;
    margin: 0 auto;
}
.hotel-slider{
    position: relative;
}
.hotel-slider .swiper-button-next,
.hotel-slider .swiper-button-prev{
    height: 100%;
    top: 11%;
    background-color: #006ab2;
    width: 33px;
}
.hotel-slider .swiper-button-prev{
    background-image: url("../images/slider-arrow-left.png");
    background-size: 40%;
}
.hotel-slider .swiper-button-next{
    background-image: url("../images/slider-arrow-right.png");
    background-size: 40%;
}
.tab-content .small-title .strong-text{
    font-family: "SF UI Display Bold" , sans-serif;
    font-size: 20px;
    color: #006ab1;
}
.tab-content .small-title{
    padding: 15px 0;
}
.tab-content .long-description{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #717070;
}
table{
    width: 100%;
}
table td.big-width{
    max-width: 250px;
}
table td{
    padding: 10px 20px;
    width: auto;
}
table .reservations{
    margin: 0;
    background-color: #006ab1;
    border: none;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    margin-left: 10px;
}
table td{
    background: #fff;
    margin: 10px 0;
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #717070;
}
table td.type-room{
    font-family: "SF UI Display Regular" , sans-serif;
    font-size: 20px;
    color: #006ab1;
}
table td{
    border-bottom: 5px solid #f5f5f5;
}
table td .price{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 20.9px;
    color: #006ab1;
}
table td.confirm{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 13px;
    text-align: center;
    color: #53c91f;
}
.name-page.different-structure{
    background-image: url("../images/contacte-name-page-bg.png");
    background-repeat: no-repeat;
    padding: 3px 0 69px 0;
    background-position: 50% 0;
    background-size: cover;
    background-color: #006ab1;
}
.name-page.different-structure .title .strong-text{
    color: #fff !important;
    font-family: "SF UI Display Medium" , sans-serif;
}
.name-page.different-structure .breadcrumb-item a{
    color: #fff;
}
.name-page.different-structure .breadcrumb-item.active{
    color: #fff;
    font-family: "SF UI Display Light" , sans-serif;
}
.different-logo img{
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
    max-width: 120px;
}
.contacts-box .icon-box{
    font-size: 45px;
    color: #2871b2;
    position: relative;
    z-index: 10;
}
.contacts-box{
    background: #fff;
    padding: 10px 30px;
    z-index: 9;
    position: relative;
}
.contacts-box .title{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 24px;
    color: #ffba3a;
}
.contacts-box .text,
.contacts-box a{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.contacts-box a:hover{
    color: #ff3a48;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.name-page{
    position: relative;
    z-index: 1;
}
section.contacts{
    position: relative;
    z-index: 2;
    margin-top: -110px;
    padding: 30px 0;
}
.contact-form label{
    display: block;
    width: 100%;
}
.map .title{
    font-size: 20px;
}
.contact-form .title{
    font-size: 20px;
}
.contact-form label input{
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    padding: 7px;
}
.contact-form label input:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label input::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label input:-ms-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label input::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label textarea{
    resize: none;
    width: 100%;
    display: block;
    padding: 7px;
    height: 150px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
}
.contact-form label textarea:-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label textarea::-moz-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label textarea:-ms-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form label textarea::-webkit-input-placeholder{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
    color: #616161;
}
.contact-form button.submit-btn {
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 15px;
    color: #777;
    border: solid 2px #fcbc3e;
    background: transparent;
    padding: 6px 30px;
    border-radius: 0;
    position: relative;
    top: 10px;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.auth .show-content-form{
    margin-top: 10px !important;
    display: block;
}
.contact-form button.submit-btn:hover{
    color: #fff;
    background: #fcbc3e;
    border: 2px solid #fcbc3e;
}
footer .short-description{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 13px;
    color: #434343;
}
.open-nav{
    display: none;
}
#map-3{
    width: 100%;
    height: 290px;
}

.help-user{
    position: relative;
}
.open-help-user{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
}
.toggle-help{
    display: none;
}
.toggle-facility-box{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
}
.why-us .small-title{
    text-align: left;
}
.why-us{
    position: relative;
}
.facility-toggle{
    display: none;
}
.right-side-bar{
    margin-bottom: 20px;
}
@media(max-width: 1200px){
    .header-ul-inline > li > a{
        margin: 0 1.5em 0 0 !important;
    }
    .tab-content table{
        display: block;
        width: 100%;
        overflow: auto;
    }
    table thead{
        width: 900px !important;
        display: block !important;
    }
    table tbody{
        width: 900px !important;
        display: block !important;
    }
    table td{
        min-width: 300px;
        text-align: center;
    }
    .hotel-view{
        max-width: 550px;
    }
    footer .contacts a{
        font-size: 10px;
    }
    footer .container{
        width: 100%;
    }
    .footer-menu ul li a{
        font-size: 10px;
    }
    .help-user .phone{
        font-size: 16px;
    }
}
@media(max-width: 1050px){
    .wrapper{
        padding: 0;
    }
    .presentation-slider .swiper-button-next,
    .presentation-slider .swiper-button-prev{
        top: 40%;
    }
}
@media(max-width: 992px){
    .header-bar-div a span{
        top: 0 !important;
    }
    .social-contacts ul li{
        display: inline-block;
        margin: 0 7px;
    }
    .social-contacts ul{
        text-align: center;
        padding-top: 20px !important;
    }
    .filter{
        margin-top: 0;
    }
    .footer-logo a img{
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .header-bar-div{
        text-align: left;
    }
    .header-bar-div a{
        color: #006ab2 !important;
    }
    .header-bar-div a:hover{
        color: #ff3a48 !important;
    }
    .header-bar{
        padding: 10px 0;
        background: #f5f5f5 !important;
    }
    .header-bar .logo img{
        max-width: 160px;
    }
    .auth{
        padding: 70px 0 30px 0 !important;
    }
    .auth .title{
        text-align: center;
    }
    .header-menu{
        display: block;
        padding: 40px 0;
    }
    .open-nav{
        display: block;
        position: absolute;
        top: -20px;
        font-size: 30px;
        color: #006ab2;
        right: 20px;
    }
    .top-nav nav ul li{
        display: block;
        width: 100%;
    }
    .top-nav{
        position: relative;
    }
    .top-nav  ul{
        padding: 45px 0 20px 0 !important;
        text-align: center;
    }
    .top-nav ul ul{
        padding: 10px 0 20px 0 !important;
    }
    .toggle-submenu > li > a{
        display: block !important;
        text-align: center;
    }
    .top-nav nav{
        display: none;
    }
    .toggle-submenu{
        position: static;
        width: 100%;
        max-width: 100%;
        text-align: center;
        background: transparent;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    .toggle-submenu li a{
        display: inline-block;
        padding: 8px 0;
    }
    header .reservations{
        display: none;
    }
    .filter{
        top: 0;
    }
    .filter-tab label{
        margin-top: 10px;
    }
    .calendar-elem input{
        background-position: 98% 50%;
    }
    .recent-news-box .img-box img{
        display: block;
        width: 100%;
    }
    .subscribe-form{
        text-align: center;
        padding: 30px 0;
    }
    .skill-box{
        margin-bottom: 30px;
    }
    .testimonial-box{
        margin-bottom: 30px;
    }
    .testimonial-box .name-user{
        text-align: center;
        padding-bottom: 10px;
    }
    .testimonial-box .company{
        text-align: center;
    }
    .user-opinion{
        text-align: center;
    }
    .testimonial{
        background: #f5f5f5;
        padding: 30px 0;
    }
    .footer-logo img{
        display: block;
        margin: 0 auto;
    }
    footer .short-description{
        display: none;
    }
    footer .contacts{
        text-align: center;
        padding: 20px 0;
    }
    footer .contacts a{
        font-size: 14px;
        margin: 5px 0;
        display: inline-block;
    }
    footer .footer-menu{
        display: none;
    }
    footer .reservations{
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
    .big-padding-bottom{
        padding-bottom: 20px;
    }
    .results-hotel-box .img-hotel img{
        display: block;
        width: 100%;
    }
    .results-hotel-box .row .remove-padding-left{
        padding-left: 15px;
    }
    .results-hotel-box .row .remove-padding-right{
        padding-right: 15px;
    }
    .sortable-hotels .breadcrumb{
        padding: 15px 0;
        text-align: center !important;
    }
    .filter-tab button{
        margin-top: 45px;
    }
    .tab-content .small-title{
        text-align: center;
    }
    .results-hotel-box{
        max-width: 500px;
        margin: 0 auto 30px auto;
    }
    .more-details-hotel .adress{
        text-align: center;
    }
    .more-details-hotel .some-text{
        text-align: center;
    }
    .more-details-hotel .reservations{
        max-width: 300px;
        margin: 10px auto;
    }
    .recomandation-box{
        max-width: 500px;
        margin: 0 auto 30px auto;
    }
    .recomandation-box .img-box img{
        width: 100%;
        max-height: 300px;
    }
    .sortable{
        margin: 0;
    }
    .open-search-hotel{
        position: absolute;
        top: -5px;
        right: 20px;
        font-size: 25px;
    }
    .toggle-search-from{
        display: none;
    }
    .filter-hotel form{
        position: relative;
    }
    .sortable nav {
        text-align: center;
    }
    .why-us{
        text-align: center;
    }
    .why-us .icon-box{
        margin-bottom: 15px;
    }
    .why-us .icon-box svg{
        display: block;
        margin: 0 auto;
    }
    .facility-box .text{
        text-align: center;
    }
    .about-hotel .sortable-tab.tab-left{
        margin-top: 30px;
    }
    .recent-questions{
        margin-top: 30px;
    }
    .contacts-box{
        text-align: center;
    }
    .contacts-box .title{
        text-align: center;
    }
    .contacts-box{
        margin-bottom: 30px;
        background: #f5f5f5;
    }
    #map-3{
        height: 300px;
        margin-bottom: 30px;
    }
}
@media (max-height: 790px){

}
@media(max-width: 768px){
    .recent-news-box .title-box{
        position: static;
        width: 100%;
    }
    .date-post{
        padding: 10px 0;
        text-align: center;
    }
    .recent-news-box .img-box img{
        max-height: 300px;
    }
    .title-slide{
        display: none;
    }
    .presentation-slider .swiper-button-next,
    .presentation-slider .swiper-button-prev{
        top: 50%;
    }
    .contacts-panel .text-left{
        text-align: center !important;
    }
    .contacts-panel{
        padding: 25px 0;
    }
    .socio-contacts ul{
        text-align: center;
        padding: 15px 0 0 0;
    }
    .filter-tab .nav-tabs>li{
        float: none;
        display: block;
    }
    .presentation-slider .swiper-slide img{
        min-height: 180px;
        width: 100%;
    }
    .filter-tab .nav-tabs li a{
        text-align: center;
        box-shadow: none;
        margin: 3px 0;
    }
    .sortable-tab.tab-left .nav-tabs li{
        display: block;
        float: none;
    }
    .sortable-tab.tab-left .nav-tabs li a{
        margin: 3px 0;
    }
}
@media(max-width: 710px){
    .hotel-view .swiper-slide img{
        width: 100%;
        height: 270px;
    }
    .hotel-slider .swiper-button-next, .hotel-slider .swiper-button-prev{
        top: 8%;
    }
    .hotel-view{
        max-width: 550px;
    }
    .hotel-slider .swiper-button-next{
        right: 0;
    }
    .hotel-slider .swiper-button-prev{
        left: 0;
    }
    .contact-form button.submit-btn{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}
    /* Preloader */

.wrapper{
    opacity: 1;
}
.show-wrapper{
    opacity: 0;
}
.title-preloader{
    color: #fe3774;
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 23px;
    font-weight: 800;
}


.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fe3774;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}










/* NEW */
.header {
    border-bottom: 1px solid #DDDDDD;
}
.ul-inline {margin: 0; padding: 0; list-style-type: none;}
.ul-inline > li {display: inline-block;}
.container-header {
    margin: 0 auto;
    max-width: 1400px;
}
.header-bar {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.25);
    background: #ffba3a;
}
.header-bar a:hover{
    color: #444;
}
.header-bar a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.language-group{
    padding: 5px 5px 0 5px;
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 100%;
}
.language-group img{
    display: inline-block;
    max-width: 20px;
}
.language-group a{
    display: inline-block;
    line-height: 0;
}
.header-bar-div {
    padding: 7px 5px;
    color: #777777;
    font-size: 13px;
    position: relative;
}
.header-bar-border {
    border-right: 1px solid #DDDDDD;
}
.header-bar-div a {
    margin: 0 5px 0 0;
    color: #fff;
    font-family: "SF UI Display Regular" , "Open Sans" , sans-serif !important;
    font-size: 13px !important;
}
.header-bar-div a span{
    margin-right: 5px;
    position: relative;
    top: 4px;
}
.header-bar div a.header-phone,
.header-bar div a.header-email{
    margin: 0 10px;
    position: relative;
    top: -2px;
}
.header-bar-div a:hover {
    color: #000;
}
.header-ul-inline > li {
    display: inline-block;
}
.header-ul-inline > li > a {
    margin: 0 3.5em 0 0;
    display: block;
    color: #fff;
    text-decoration: none;
}
.header-phone ,
.header-email{
    padding: 0;
    display: inline-flex;
    font-family: "SF UI Display  Medium" , sans-serif;
    text-align: center;
    text-decoration: none !important;
}

.header-orar {
    padding: 10px 0px;
    color: #777777;
    font-size: 13px;
}
/* aditional styles (Den)*/
.breadcrumb-item{
    text-transform: uppercase;
}
/*.swiper-container {*/
    /*height: 450px;*/
/*}*/

.easyPaginateNav {
    text-align: center;
    padding: 25px 0;
}

.easyPaginateNav a {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 2px;
}

.easyPaginateNav a.current {
    color: #000;
}
.services{
    padding: 8px 0;
}
.services-box{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
}
.services .title{
    padding: 4px 0 8px 0;
}
.services-box .img-box{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.services-box .img-box img{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}
.services-box .details{
    display: inline-block;
    padding: 7px 12px;
    background: #ffba3a;
    color: #444;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: "SF UI Display Light" , sans-serif;
    margin: 15px 0;
}
.services-box .details:hover{
    background: #4a9f2e;
    color: #fff;
}
.services-box .title-services-box{
    font-family: "SF UI Display Regular" , sans-serif;
    color: #444;
    text-align: center;
    padding: 7px 0;
    background: #ffba3a;
    font-size: 18px;
}
.services-box .description{
    padding: 10px;
    background: #f5f5f5;
    font-family: "SF UI Display Light" ,  sans-serif;
    text-align: justify;
}
.small-services-box .title{
    border-bottom: 1px solid #777;
    font-family: "SF UI Display Regular" , sans-serif;
    color: #444;
    text-align: left;
    padding: 7px 0 7px 15px;
    background: #ffba3a;
    font-size: 18px;
}
.small-services-box{
    background: #fff;
}
.small-services-box .description{
    font-family: "SF UI Display Light" , sans-serif;
    text-align: justify;
    padding: 10px;
}
.about-us{
    padding: 15px 0;
}
.about-us-box .name {
    text-align: left;
    font-family: "SF UI Display Regular", sans-serif;
    font-size: 18px;
    color: #fff;
    display: block;
}
.about-us-box .profession{
    text-align: left;
    font-family: "SF UI Display Light", sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
}
.about-us-box .text{
    padding: 10px 0;
    background: #f5f5f5;
}
.about-us .title{
    padding-bottom: 5px;
}
.about-us-box .img-box img{
    display: block;
    width: 100%;
}
.about-us-box .img-box{
    position: relative;
}

.about-us-box .grid figure{
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 0;
    max-width: 100%;
}
.about-us-box figure.effect-winston figcaption::before{


}
.about-us-box .grid{
    padding: 0;
}
.about-us-box .grid figure figcaption{
    padding: 20px;
}
.about-us-box .grid figure h2{
    font-size: 20px;
}
.about-us-box figure.effect-winston a{
    font-size: 16px;
}
.about-us-box figure.effect-winston p{
    padding: 0 !important;
}
.about-us-box{
    position: relative;
}
.about-us-box .grid figure{
    max-height: 100%;
}
@media (max-width: 992px){
    .about-us-box figure.effect-winston figcaption::before{
        top: 36px;
    }
    .about-us .row > div{
        margin-bottom: 30px;
    }
}
@media (max-width: 768px){
    .about-us-box figure.effect-winston figcaption::before{
        top: 75px;
        left: -30px;
    }
}
.auth{
    padding: 14px 0;
}
.auth .contact-form button.submit-btn,
.auth .show-content-form{
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 15px;
    color: #777;
    border: solid 2px #fcbc3e;
    background: transparent;
    padding: 6px 30px;
    border-radius: 0;
    position: relative;
    top: -1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.auth .show-content-form{
    margin-top: 10px !important;
    display: block;
}
.auth .contact-form button.submit-btn:hover,
.auth .show-content-form:hover{
    color: #fff;
    background: #fcbc3e;
    border: 2px solid #fcbc3e;
}
.auth label{
    margin: 0 0 15px 0 !important;
}
.auth label input{
    max-width: 70%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 0 4px 12px;
}
.auth .contact-form{
    border-radius: 5px;
    padding: 15px 30px;
    box-shadow: 0 1px 6px #dfdfdf;
}
.auth .text{
    margin-bottom: 10px;
    font-size: 20px;
    color: #777;
    font-family: "SF UI Display Regular" ,  sans-serif;
}
.auth .hidden-content{
    display: none;
}
.hidden-top-bar a{
    display: inline-block;
    margin: 0 15px;
}
.hidden-top-bar a svg{
    display: block !important;
    width: 25px;
    height: auto;
}
.hidden-top-bar .change-width{
    width: 40px !important;
    position: relative;
    top: 6px;
}
.hidden-top-bar a svg path{
    fill: #006ab2 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.hidden-top-bar a svg:hover path{
    fill: #ff3a48 !important;
}
@media (max-width: 500px){
    .hidden-top-bar a{
        display: inline-block;
        margin: 0 5px;
    }
    .subscribe-form input{
        margin-right: 5px !important;
    }
}
.social-contacts ul{
    list-style-type: none;
    padding: 0;
}
.social-contacts ul li a{
    display: block;
    margin: 5px 0;
}
.social-contacts ul li a svg path{
    fill: #646464 !important;
}
.social-contacts ul li a svg{
    display: block;
    width: 20px;
    height: auto;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.social-contacts ul li a svg:hover path{
    fill: #ff3a48 !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
}
.description-company{
    padding: 20px 0 0 0;
    font-family: "SF UI Display Light" , sans-serif;
    font-size: 14px;
}
.description-company ul{
    padding: 0 0 0 50px;
}
.strong-text{
    font-family: "SF UI Display Medium" , sans-serif;
    color: #000;
}
.header-menu{
    -webkit-box-shadow: 0px 5px 14px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 14px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 14px -2px rgba(0,0,0,0.5);
}
.footer-menu ul li a span{
    position: relative;
    top: 4px;
    margin-right: 8px;
}
.footer-menu ul li a.header-phone{
    margin-top: 15px;
}
.footer-menu ul li a.header-email{
    color: #3498db !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.footer-menu ul li a.header-email span,
.footer-menu ul li a.header-phone span{
    color: #434343;
}
.footer-menu ul li a.header-phone:hover,
.footer-menu ul li a.header-email:hover{
    color: #ff3a48 !important;
}




/* HOTEL SEARCH */

.page-item-image img{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.page-item-image{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.page-item:hover .page-item-image img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.page-item{
    margin: 0 0 30px 0;
}

.page-item .title-box{
    font-family: "SF UI Display Medium" , sans-serif;
    font-size: 25px;
    color: #444;
}
.search-hotel{
    padding: 30px 0;
}








